{minimum_otp_vsn, "26.0"}.

{erl_opts, [debug_info]}.

{deps, [
    {riak_kv, {git, "https://github.com/OpenRiak/riak_kv.git", {branch, "openriak-4.0"}}},
    {riak_core, {git, "https://github.com/OpenRiak/riak_core.git", {branch, "openriak-4.0"}}},
    {riak_api, {git, "https://github.com/OpenRiak/riak_api.git", {branch, "openriak-4.0"}}}
]}.

{project_plugins, [
    {erlfmt, {git, "https://github.com/OpenRiak/erlfmt.git", {branch, "main"}}}
]}.
